<h1>Refactoring</h1>

<hr>
<br>

<h4> What Is Refactoring?</h4>

<p>
Refactoring is the process of changing a software system in such a way that 
it does not alter the external behavior of the code yet improves its internal 
structure. It is a disciplined way to clean up code that minimizes the chances 
of introducing bugs. In essence when you refactor you are improving the design of 
the code after it has been written. 

<p>
"Improving the design after it has been written." That's an odd turn of
phrase. In our current understanding of software development we believe
that we design and then we code. A good design comes first, and the
coding comes second. Over time the code will be modified, and the
integrity of the system, its structure according to that design,
gradually fades. The code slowly sinks from engineering to hacking.

<p>
Refactoring is the opposite of this practice. With refactoring you can
take a bad design, chaos even, and rework it into well-designed code.
Each step is simple, even simplistic. You move a field from one class
to another, pull some code out of a method to make into its own method,
and push some code up or down a hierarchy. Yet the cumulative effect of
these small changes can radically improve the design. It is the exact
reverse of the normal notion of software decay.

<p>
With refactoring you find the balance of work changes. You find that
design, rather than occurring all up front, occurs continuously during
development. You learn from building the system how to improve the
design. The resulting interaction leads to a program with a design that
stays good as development continues

<p>
<i>Martin Fowler
<br>
"Refactoring: Improving the Design of Existing Code,"
<br>
Addison-Wesley, 1999, p. xvi</i>


<br>
<br>
<hr>
<br>

<h4>Refactoring as Normalization </h4>

<p>
In some ways, refactoring a large software artefact resembles the
normalization of a large data artefact. Just as normalization is
supposed to preserve the underlying representational meaning of data
while improving the data structure, so refactoring is supposed to
preserve the (functional) behaviour of an artefact while improving its
structure. Some theoretical work has been going on to prove that
certain precisely defined refactorings are "safe" in this sense, and
tools are being built that implement this notion of safety. Complex
refactorings can be decomposed into a series of safe steps. Of course,
this doesnt mean that you dont have to test the refactored software
but it provides an additional level of reassurance, particularly for
safety-critical or business-critical software.


<br>
<br>
<hr>
<h4>Links</h4>

<ul>

<li>
<a href="http://www.refactoring.com">
Refactoring homepage</a>

<p>
<li>
<a href="http://www.refactoring.com/catalog">
Refactoring catalog</a>

<p>
<li>
<a href="http://www.cs.ucd.ie/staff/meloc/home/papers/thesis/thesis.htm">
automating patterns via refactoring</a>

<p>
<li>
<a href="http://www.industriallogic.com/xp/refactoring/">
refactoring at Industrial Logic</a>

<p>
<li>
<a href="http://rockfish-cs.cs.unc.edu/COMP290-s02/rtp113.pdf">
refactoring to patterns</a>

</ul>


<br>
<br>
<hr>
<h4>Extended Example</h4>

<ul>
<p>
From <i>Fowler</i>, <a href="chap1.html">Chapter 1.</a>
This is a step-by-step refactoring of a small program.

<p>
Original Movie Rental program
<ul>
<a href="movie.html">Movie class</a>
<br>
<a href="rental.html">Rental class</a>
<br>
<a href="customer.html">Customer class</a>
</ul>


</ul>


<br>
<br>
<hr>
<h4>Fowler's Talk on Refactoring</h4>

<ul>
<p>
<a href="http://rockfish-cs.cs.unc.edu/204/refactoring.pdf">PDF slides</a>

<p>
<a href="http://www.cs.unc.edu/~stotts/204/refactor/example1/">
Java code steps for this example</a>

</ul>

<br>
<br>
<hr>
<h4>Notes</h4>

<p>
Refactoring: a change made to the internal structure of software to make it easire 
to understand and cheasper to modify without changing its observable behavior.

<p>
Refactoring is no <i>silver bullet</i> but it is a pair of <i>silver pliers</i>
to help keep a good grip on your code.

<ul>
<li>
Refactoring improves the design of software <p>

<li>
Refactoring makes software easier to understand <p>

<li>
Refactoring helps you find bugs <p>

<li>
Refactoring helps you program faster <p>

</ul>

<br>
<br>
<p>
<h4>Bad Smells in Code</h4>

<ul>

<li> duplicated code
<li> long method
<li> large class
<li> long parameter list
<li> divergent change
<li> shotgun surgery
<li> feature envy
<li> data clumps
<li> primitive obsession
<li> switch statements
<li> parallel inheritance hierarchies
<li> lazy class
<li> speculative generality
<li> temporary field
<li> message chains
<li> middle man
<li> inappropriate intimacy
<li> alternative classes with different interfaces
<li> incomplete library class
<li> data class
<li> refused bequest
<li> comments

</ul>

